<div class="box-container">
  <div class="app-title">Simple example app for the ngx-fabric-wrapper</div>

  <div class="info-container">
    This example only shows some of the available features, to see all check Fabric demos / documentation.
  </div>

  <div class="horizontal-container">
    <div class="vertical-container left-panel">
      <div class="box-title">Settings</div>

      <div class="action-container">
        <div class="action-button" (click)='toggleType()'>{{(type === "component") ? "Switch to directive" : "Switch to component"}}</div>

        <div class="action-button" (click)='toggleDisabled()'>Toggle disabled state</div>

        <div class="action-button" (click)='addLine()'>Add line object</div>

        <div class="action-button" (click)='addText()'>Add text object</div>

        <div class="action-button" (click)='addImage()'>Add image object</div>

        <div class="action-button" (click)='resetCanvasObjects()'>Reset the canvas</div>
      </div>
    </div>

    <div class="vertical-container right-panel">
      <div class="box-title">Fabric</div>

      <div class="content-container">
        <fabric *ngIf="type === 'component' && show" class="fabric-fill" [data]="data" [config]="config" [disabled]="disabled" (dataLoaded)="onDataLoaded($event)" (objectAdded)="onObjectAdded($event)" (selectionCreated)="onSelectionCreated($event)">
        </fabric>

        <div *ngIf="type === 'directive' && show" class="canvas-wrapper">
          <canvas class="fabric-canvas" [fabric]="config" [disabled]="disabled" (objectAdded)="onObjectAdded($event)" (selectionCreated)="onSelectionCreated($event)">
          </canvas>
        </div>
      </div>
    </div>
  </div>
</div>
